* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    color: #222;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #0f172a;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    color: #38bdf8;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 60px 40px;
}

h2 {
    margin-bottom: 20px;
}

/* ABOUT */
.about-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    opacity: 0.6;
    transition: 0.4s;
}

.about-card:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* PROJECTS */
.project-container {
    display: flex;
    gap: 30px;
}

.project-card {
    background: white;
    border-radius: 15px;
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.project-card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.project-card h3 {
    padding: 15px;
}

.project-card:hover {
    transform: scale(1.1);
}

/* SKILLS */
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-grid span {
    background: #0f172a;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.skills-grid span:hover {
    background: #38bdf8;
    color: black;
    transform: scale(1.1);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: white;
    padding: 30px;
    width: 50%;
    margin: 10% auto;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}
